.intq_header {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    background: none;
    text-decoration: none;
    list-style: none;

    max-width: 128rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 6rem;
    padding: 10rem 0
}

.intq_card {
    max-width: 115.5rem;
    width: 100%;
    height: 45.7rem;
    background: #fff;
    display: flex;
    justify-content: space-between;
    box-shadow: 0.25rem 0.25rem 0.875rem #0000001A;
}

.intq_card-image {
    width: 44.5rem;
    height: 100%;
}

.intq_card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.intq_card-text {
    width: 71rem;
    height: 100%;
    display: flex;
    background: #ffffff;
    flex-direction: column;
    padding-left: 8rem;
    justify-content: center;
}

.intq_card-text h1 {
    font-size: 2.2rem;
    color: #000;
    padding-bottom: 0.625rem;
    font-weight: 600;
}

.intq_underline {
    width: 7.2rem;
    border-bottom: 0.149rem solid #cf0505;
}

.intq_card-text-in {
    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2.5rem;
    gap: 0.4rem;
}

.intq_card-text-in h2 {
    font-size: 1.85rem;
}

.intq_card-text-in h3 {
    font-size: 1.89rem;
    font-weight: 600;
}

.intq_card-text-in h4 {
    font-size: 1.7rem;
}

.intq_card-text-in h5 {
    font-size: 1.45rem;
    font-weight: 400;
    color: #4b4b4b;
}

.intq_card-text-p {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    padding-top: 3.9rem;
}

@media (max-width: 425px) {
    .intq_header {
        max-width: 43rem;
        width: 100%;
        flex-direction: column;
    }

    .intq_card {
        max-width: 40rem;
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .intq_card-image {
        width: 40rem;
        height: auto;
    }

    .intq_card-text {
        width: 40rem;
        height: auto;
        padding: 5rem 2rem
    }

    .intq_card-text-p p {
        font-size: 1.159rem;
    }
}