<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/cardSection_2.css">
</head>

<body>
    <div class="cardSection_2">

        <!-- card-1 -->
        <div class="cardSection_2_card_1">
            <div class="cardSection_2_card_1_left">
                <div class="sysAchievement">
                    <div class="sysAchievement-line"></div>
                    <h1>当社における解決方法</h1>
                </div>
                <p>詳細が入りますテキストテキストテキストテキストテキストテキスト
                    テキストテキストテキストテキストテキストテ詳細が入りますテキス
                    トテキストテキストテキストテキストテキストテキストテキストテキス
                    トテキストテキストテ</p>

                <p>詳細が入りますテキストテキストテキストテキストテキストテキスト
                    テキストテキストテキストテキストテキストテ詳細が入りますテキス
                    トテキストテキストテキストテキストテキストテキストテキストテキス
                    トテキストテキストテ</p>
            </div>
            <div class="cardSection_2_card_1_right">
                <img src="../img/unsplash_sgZX15Da8YE.png">
            </div>
        </div>

        <div class="cardSection-line"></div>

        <!-- card-2 -->
        <div class="cardSection_2_card_1">
            <div class="cardSection_2_card_1_right">
                <img src="../img/unsplash_sgZX15Da8YE.png">
            </div>

            <div class="cardSection_2_card_1_left">
                <div class="sysAchievement">
                    <div class="sysAchievement-line"></div>
                    <h1>当社における解決方法</h1>
                </div>
                <p>詳細が入りますテキストテキストテキストテキストテキストテキスト
                    テキストテキストテキストテキストテキストテ詳細が入りますテキス
                    トテキストテキストテキストテキストテキストテキストテキストテキス
                    トテキストテキストテ</p>

                <p>詳細が入りますテキストテキストテキストテキストテキストテキスト
                    テキストテキストテキストテキストテキストテ詳細が入りますテキス
                    トテキストテキストテキストテキストテキストテキストテキストテキス
                    トテキストテキストテ</p>
            </div>
        </div>


    </div>
    <!-- card-1-end -->

    <!-- <div class="cardSection2">
        <div class="top">
            <div class="sysNumberCard-right">
                <div class="sysAchievement">
                    <div class="sysAchievement-line"></div>
                    <h1>Achievement</h1>
                </div>
                <h2>多岐にわたる開発プロジェクトを遂行し、クライアントのニーズに応じたソリューションを提供しています。</h2>
                <p>詳細が入りますテキストテキストテキストテキストテキストテキストテキストテキストテキストテキ
                    ストテキストテ詳細が入りますテキストテキストテキストテキストテキストテキストテキストテキス
                    トテキストテキストテキストテ</p>
                <p>詳細が入りますテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテ
                    キストテ詳細が入りますテキストテキストテキストテキストテキストテキストテキストテキストテキストテ
                    キストテキストテ</p>
            </div>

            <div class="top_right">
                <img src="../img/unsplash_sgZX15Da8YE.png" alt="" id="topLeftImg" />
            </div>
        </div>

        <div class="horz_line"></div>

        <div class="bottom">
            <div class="bottom_right">
                <img src="../img/unsplash_sgZX15Da8YE.png" alt="" />
            </div>

            <div class="bottom_left">
                <div class="taytl">
                    <div class="sm_horz_line"></div>
                    <p id="title">{{ module.title2 }}</p>
                </div>
                <p id="text">
                    {{ module.richtext_field }}</p>
            </div>
        </div>

    </div> -->


</body>

</html>