<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/contactFormBox.css">
</head>

<body>
    <div class="contactFormBox">
        <div class="form_info">
            <div class="sysAchievement">
                <div class="sysAchievement-line"></div>
                <h1>ご相談・お問い合わせフォーム</h1>
            </div>

            <div class="ass">

                <p class="form_info_p">当社にご興味をもっていただきありがとうございます。
                    1営業日以内に担当者よりご連絡を差し上げます。</p>

                <div class="form_info-card">
                    <div class="form_info_card_layout">
                        <img src="../img/iconoir_developer (2).svg">
                        <p class="form_info_card_layout_p">開発実績 <br>累計 <span>5,000</span> 件超</p>

                        <p>多岐にわたる開発プロジェクトを遂行し、クライアントのニーズに応じたソリューションを提供しています。</p>

                    </div>
                </div>

                <p>アイマスキングやSYSTEM ERP Cloudを提供している
                    エスワイシステム。 <br> <br>

                    下記に当てはまる方は、右のフォームより
                    お気軽にお問い合わせください。</p>

            </div>
        </div>

        <div class="formbox_form_layout">
            <form action="" class="formbox_form">
                <div class="formbox_input">
                    <label for="fname">姓 <span>*</span></label><br>
                    <input type="text" id="fname" name="fname"><br>
                </div>
                
                <div class="formbox_input">
                    <label for="fname">姓 <span>*</span></label><br>
                    <input type="text" id="fname" name="fname"><br>
                </div>

                <div class="formbox_input">
                    <label for="fname">姓 <span>*</span></label><br>
                    <input type="text" id="fname" name="fname"><br>
                </div>

                <div class="formbox_input">
                    <label for="fname">姓 <span>*</span></label><br>
                    <input type="text" id="fname" name="fname"><br>
                </div>

                <div class="formbox_input">
                    <label for="fname">姓 <span>*</span></label><br>
                    <input type="text" id="fname" name="fname"><br>
                </div>

                <div class="formbox_input">
                    <label for="fname">姓 <span>*</span></label><br>
                    <input type="text" id="fname" name="fname"><br>
                </div>

                <div class="formbox_input">
                    <label for="fname">姓 <span>*</span></label><br>
                    <input type="text" id="fname" name="fname"><br>
                </div>

            </form>
        </div>
    </div>
</body>

</html>