<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/mark-2.css">
</head>

<body>

    <div class="mark-card-2">
        <div class="mark-left">
            <img src="../img/banner-AichiFamilyFriendly 1.png">
            <h1>asodu gas dfasi dhoa sdhisad</h1>
        </div>

        <div class="mark-right">
            <p>詳細テキストが入ります詳細テキストが入ります詳細テキストが入ります詳細テキストが入ります詳細テキストが入ります詳細テキストが入ります詳細テキストが入ります詳細テキストが入ります詳細テキストが入ります詳細テキストが入ります詳細テキストが入ります詳細テキストが入ります詳細テキストが入ります詳細テキストが入ります詳細テキストが入ります詳細テキストが入ります
            </p>
        </div>
    </div>

</body>
</html>