<!-- start html -->
<link rel="stylesheet" href="../css/mark_1.css">
<div class="mark-1">

    <div class="mark-card-1">
        <img src="../img/mark-iso 1.png">
        <div class="mark-1-content">
            asdasdasfdasfaasasdafsf
        </div>
    </div>

    <div class="mark-card-1">
        <img src="../img/mark-iso 1.png">
        <div class="mark-1-content">
            asdasdasfdasfaasasdafsf
        </div>
    </div>

    <div class="mark-card-1">
        <img src="../img/mark-iso 1.png">
        <div class="mark-1-content">
            asdasdasfdasfaasasdafsf
            asfafadfaklfgasdkfl
            safohasfiasioflas
            
        </div>
    </div>

</div>