<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/picmap.css">
</head>
<body>
   
    <div class="picmap">
        <div class="image-container">
            <img src="../img/window.webp">
            <!-- <img src="{{ module.window.src }}"> -->
        </div>
        <div class="text-container">
            <h1>中部事業所</h1>
            <p>詳細が入りますテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
            <iframe 
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2391.3458575015083!2d69.52601755158078!3d41.3129153802085!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38aef4afbb0fbbe1%3A0xace8ab14d3a9e7a3!2sTashkent%2C%20Uzbekistan!5e0!3m2!1sen!2sus!4v1628175489000!5m2!1sen!2sus"
                width="300" 
                height="200" 
                style="border:0;" 
                allowfullscreen="" 
                loading="lazy">
            </iframe>
        </div>
    </div>
</body>
</html>