<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/sysNumberCard.css">
</head>
<body>
    <div class="sysNumberCard">
        <div class="sysNumberCard-top">
            <div class="sysNumberCard-left">
                <img src="../img/iconoir_developer (1).svg">
                <p>開発実績累計 <span>5,000</span> 件超</p>
            </div>

            <div class="sysNumberCard-right">
                <div class="sysAchievement">
                    <div class="sysAchievement-line"></div>
                    <h1>Achievement</h1>
                </div>
                <h2>多岐にわたる開発プロジェクトを遂行し、クライアントのニーズに応じたソリューションを提供しています。</h2>
                <p>詳細が入りますテキストテキストテキストテキストテキストテキストテキストテキストテキストテキ
                    ストテキストテ詳細が入りますテキストテキストテキストテキストテキストテキストテキストテキス
                    トテキストテキストテキストテ</p>
                <p>詳細が入りますテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテ
                    キストテ詳細が入りますテキストテキストテキストテキストテキストテキストテキストテキストテキストテ
                    キストテキストテ</p>
            </div>

            
        </div>

        <div class="sysNumberCard-buttom">
            <img src="../img/unsplash_sgZX15Da8YE.png">
            <img src="../img/unsplash_sgZX15Da8YE.png">
        </div>
    </div>
</body>
</html>