<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/sysNumber_1.css">
</head>
<body>
    <div class="sysNumber_1">
        <div class="sys_card">
            <p>Achievement</p>
            <img src="../img/banner-AichiFamilyFriendly 1.png">
            <h1>開発実績累計 5,000 件超</h1>
            <p>多岐にわたる開発プロジェクトを遂行し、クライアントのニーズに応じたソリューションを提供しています</p>
        </div>

        <div class="sys_card">
            <p>Achievement</p>
            <img src="../img/banner-AichiFamilyFriendly 1.png">
            <p>開発実績累計 5,000 件超</p>
            <p>多岐にわたる開発プロジェクトを遂行し、クライアントのニーズに応じたソリューションを提供しています</p>
        </div>

        <div class="sys_card">
            <p>Achievement</p>
            <img src="../img/banner-AichiFamilyFriendly 1.png">
            <p>開発実績累計 5,000 件超</p>
            <p>多岐にわたる開発プロジェクトを遂行し、クライアントのニーズに応じたソリューションを提供しています</p>
        </div>
    </div>
</body>
</html>