<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/under_internqualified.css">
</head>

<body>
    <div class="intq_header">
        <!-- {% for item in module.intq_loop %}
        <div class="intq_card">
            <div class="intq_card-image">
                <img src="{{ item.int_chik.src }}" alt="">
            </div>
            <div class="intq_card-text">
                <h1>{{ item.intq_h1 }}</h1>
                <p class="intq_underline"></p>
                <div class="intq_card-text-in">
                    <h2>{{ item.intq_h2 }}</h2>
                    <h3>{{ item.intq_h3 }}</h3>
                    <h4>{{ item.intq_h4 }}</h4>
                    <h5>{{ item.intq_h5 }}</h5>
                </div>
                <div class="intq_card-text-p">
                    <p>{{ item.intq_p1 }}</p>
                    <p>{{ item.intq_p2 }}</p>
                </div>
            </div>
        </div>
        {% endfor %} -->

        <div class="intq_card">
            <div class="intq_card-image">
                <img src="{{ item.int_chik.src }}" alt="">
            </div>
            <div class="intq_card-text">
                <h1>{{ item.intq_h1 }}</h1>
                <p class="intq_underline"></p>
                <div class="intq_card-text-in">
                    <h2>{{ item.intq_h2 }}</h2>
                    <h3>{{ item.intq_h3 }}</h3>
                    <h4>{{ item.intq_h4 }}</h4>
                    <h5>{{ item.intq_h5 }}</h5>
                </div>
                <div class="intq_card-text-p">
                    <p>{{ item.intq_p1 }}</p>
                    <p>{{ item.intq_p2 }}</p>
                </div>
            </div>
        </div>

        <div class="intq_card">
            <div class="intq_card-image">
                <img src="{{ item.int_chik.src }}" alt="">
            </div>
            <div class="intq_card-text">
                <h1>{{ item.intq_h1 }}</h1>
                <p class="intq_underline"></p>
                <div class="intq_card-text-in">
                    <h2>{{ item.intq_h2 }}</h2>
                    <h3>{{ item.intq_h3 }}</h3>
                    <h4>{{ item.intq_h4 }}</h4>
                    <h5>{{ item.intq_h5 }}</h5>
                </div>
                <div class="intq_card-text-p">
                    <p>{{ item.intq_p1 }}</p>
                    <p>{{ item.intq_p2 }}</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>