<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/under_recruit.css">
</head>
<body>
    <section class="rec_header">
        <div class="rec_header-content">
          <div class="rec_header-content-img">
            <!-- <img src="{{ module.under_recruit.src }}"> -->
            <img src="../img/unsplash_sgZX15Da8YE.png">
          </div>
          <div class="rec_header-content-text">
            <div class="rec_header-content-h">
              <h1>{{ module.rec_h1 }} 新卒採用</h1>
            </div>
            <div class="rec_header-content-p">
              <p>{{ module.rec_pst }} 最終面接は必ず私自身も立ち会うことにしています。
                応募者が何人お越しになっても、直接お話をしています。</p>
              <p>{{ module.rec_pnd }} 会社にお迎えする人を自分の目で確かめたいと思いますし、私自身も教えられることが多いので。
                面接で確認させて頂くのは、目の輝きです。</p>
              <p>{{ module.rec_prd }} 経験などよりやる気と可能性を重視します。
                やる気に満ちあふれ、誠意の感じられる表情であってほしいと思います。</p>
            </div>
          </div>
        </div>
        <!-- <div class="rec_bg"></div> -->
      </section>
</body>
</html>