<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/under_office.css">
</head>
<body>
    <div class="under_office">
        <div class="header">
            <img src="../img/window.webp" class="header-image">
            <!-- <img src="{{ module.five.src }}" class="header-image"> -->
            <div class="header-text">
                <h1>東京事業所</h1>
                <p>詳細が入りますテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
            </div>
        </div>
        <div class="gap"></div>
        <div class="gallery">
            <img src="../img/window.webp" class="gallery-image">
            <img src="../img/window.webp" class="gallery-image">
            <img src="../img/window.webp" class="gallery-image">
            
            <!-- <img src="{{ module.six.src }}" class="gallery-image">
            <img src="{{ module.seven.src }}" class="gallery-image">
            <img src="{{ module.eight.src }}" class="gallery-image"> -->
        </div>
    </div>
    
</body>
</html>